main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 1rem;
  }
  
  .container {
    width: 80%;
    border-radius: 1rem;
    padding: 1rem;
  }
  
  .title {
    background-color: #e7d4ac;
    border-radius: 1rem;
    padding: 1rem;
    color: rgb(54, 36, 1);
  }

  .quitar {
    font-size: 60%;
    padding: 1rem;
    background-color: rgb(54, 36, 1);
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 1rem;
  }
  
  .quitar h1 {
    color: #e7d4ac;
  }
  
  form {
    width: 70%;
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: start;

  }

  input {
  width: 30%;
  height: 4rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
}

label {
  color: #e8763d;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 20%;
  background-color: #e8763d;
  color: #fff0d1;
  cursor: pointer;
  transition: background 0.1s ease-in;
  height: 4rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
}

input::placeholder {
  color: #a0a0a0;
}

input:focus {
  box-shadow: 0 0 5px rgba(177, 124, 0, 0.63);
}

  div.table {
    width: 100%;
    background-color: #e7d4ac;
    padding: 1rem;
    border-radius: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #e7d4ac;
    margin: auto;
    font-size: .5em;
  }
  
  thead tr,
  table tr:nth-child(even) {
    background-color: #b6a072;
  }
  
  th,
  td {
    border-bottom: 1px solid #ddd;
    padding: 0.8rem;
    text-align: left;
  }
  
  td {
    padding: 1.8rem 01rem;
    vertical-align: middle;
    font-weight: normal;
  }
  
  